build/
.cache/
*.o
*.a
*.out
.vscode/*.csv
docs/*.csv
docs/*.png
/drive_data



drive_data/
*.png
*.csv

# in .gitignore
*.png
!docs/bode_plot.png
!docs/step_response.png
!docs/velocity_bode_plot.png
!docs/phase_current_polarity_plot.png
!docs/closed_vel_bode_plot.png
!docs/velocity_step_plot.png
!docs/ripple_debug_plot.png
!docs/position_step_plot.png
!docs/closed_pos_bode_plot.png
